<ion-view view-title="Configuración">
  <ion-content>
	<h2>Escala de temperatura</h2>
	<div class="list">
	  <label class="item item-radio">
		<input type="radio" name="group" ng-model="isChecked" ng-click="celcius()">
		<div class="item-content">
		  Celcius
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="kelvin()">
		<div class="item-content">
		  Kelvin
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="fahrenheit()">
		<div class="item-content">
		  Fahrenheit
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	</div>
	<ion-list>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/account/tab-ciudad">
        <h2>Seleccione una ciudad</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/account/tab-dia">
        <h2>Seleccione los dias</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
	<ion-list>
       </ion-content>
</ion-view>
