<ion-view view-title="Ciudad">
  <ion-content>
	<h2>Escoja su ciudad</h2>
	<div class="list">
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="barcelona()">
		<div class="item-content">
		  Barcelona
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-model="isChecked" ng-click="cancun()">
		<div class="item-content">
		  Cancún 
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="chicago()">
		<div class="item-content">
		  Chicago 
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="estadosUnidos()">
		<div class="item-content">
		  Estados unidos
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="mexico()">
		<div class="item-content">
		  México
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="monterrey()">
		<div class="item-content">
		  Monterrey
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="japon()">
		<div class="item-content">
		  Japón
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="taiwan()">
		<div class="item-content">
		  Taiwan
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	</div>
  </ion-content>
</ion-view>
