<ion-view view-title="Clima por dias">
  <ion-content class="padding">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <ion-list>
    <ion-item ng-repeat="item in items"></ion-item>
  </ion-list>
    <div class="list card">

  <div class="item item-avatar">
    <img src="http://openweathermap.org/img/w/{{weatherToday.weather[0].icon}}.png">
    <p>{{weatherToday.dt_txt}}</p>
    <p>{{weatherToday.weather[0].description}}</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <p>Humedad: {{weatherToday.humidity}}</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <p>Temperatura: {{weatherToday.temp.day}}</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <p>Temperatura Máxima: {{weatherToday.temp.max}}</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <p>Temperatura Minima: {{weatherToday.temp.min}}</p>
  </div>
</div>
	<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/dash/{{chat.$$hashKey}}">
        <img ng-src="img/{{chat.weather[0].icon}}.png">
        <h2>{{chat.dt*1000 | date}}</h2>
		<h3>Mínimo: {{chat.temp.min}}</h3>
		<h3>Máximo: {{chat.temp.max}}</h3>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
