<ion-view view-title="Cantidad de días">
  <ion-content>
	<h2>Cantidad que desea que se muestren</h2>
	<div class="list">
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="uno()">
		<div class="item-content">
		  1
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="dos()">
		<div class="item-content">
		  2 
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="tres()">
		<div class="item-content">
		  3 
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="cuatro()">
		<div class="item-content">
		  4
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="cinco()">
		<div class="item-content">
		  5
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-click="seis()">
		<div class="item-content">
		  6
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  <label class="item item-radio">
		<input type="radio" name="group" ng-model="isChecked" ng-click="siete()">
		<div class="item-content">
		  7
		</div>
		<i class="radio-icon ion-checkmark"></i>
	  </label>
	  
	</div>
  </ion-content>
</ion-view>