<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Clima Tab -->
  <ion-tab title="Dia" icon-off="ion-android-cloud-outline" icon-on="ion-android-cloud-done" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  
  <ion-tab title="Dias" icon-off="ion-android-cloud-outline" icon-on="ion-android-cloud-done" href="#/tab/dash2">
    <ion-nav-view name="tab-dash2"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Horas" icon-off="ion-android-cloud-outline" icon-on="ion-android-cloud-done" href="#/tab/dash3">
    <ion-nav-view name="tab-dash3"></ion-nav-view>
  </ion-tab>
   <ion-tab title="pordias" icon-off="ion-android-cloud-outline" icon-on="ion-android-cloud-done" href="#/tab/dash4">
    <ion-nav-view name="tab-dash4"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Configuración" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  

</ion-tabs>
